* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-color: rgb(172, 202, 234); /* Add background color for the whole page */
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-color: rgb(172, 202, 234); /* Add background color for the whole page */
}

.square {
  background: #000; /* Change background color to black */
  color: #fff; /* Change text color to white */
  font-size: 28px; /* Increase font size */
  border: 1px solid #999;
  float: left;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  justify-content: center; /* Align items horizontally to the center */
  align-items: center; /* Align items vertically to the center */
}

.game-info {
  margin-left: 20px; /* Adjust margin as needed */
  font-weight: bold; /* Add or modify font-weight */
  color: #333; /* Change text color */
  background:rgb(172, 202, 234); /* Change background color to a simple one */
}

button {
  background-color: #a55fc8; /* Change background color */
  color: white; /* Change text color */
  padding: 15px 30px; /* Adjust padding to change button size */
  border: none;
  cursor: pointer;
  border-radius: 5px; /* Add border radius for rounded corners */
  width: 200px; /* Set a fixed width for all buttons */
  height: 50px; /* Set a specific height for all buttons */
}

#root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

